node_modules/
.env
npm-debug.log*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
**/xcuserdata/
**/*.xcworkspace/xcuserdata
build/
dist/
.gradle/
.m2/
*.apk
*.ipa
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.watchmanconfig
.metro-bundler-cache/
.ruby-version
.bundle/
gems/
Pods/
.cocoapods/

